*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
}

.nav{
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 0.2px;
}

.nav a{
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.nav a:hover{
text-decoration: underline;
}

.nav i{
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.nav img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.search-wrapper{
    height: 82.60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-wrapper h3{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

form{
    position: relative;
}

.search-form input{
    width: 580px;
    height: 45px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
    display: flex;
   justify-content: center;
   align-items: center;
}

input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input:focus{
    outline: none;
}

.search-icon{
    width: 20px;
    position: absolute;
    top: 13px;
    left: 15px;
}

.mic-icon{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 493px;
}

.lens-icon{
    width: 55px;
    position: absolute;
    top: 8px;
    left: 515px;
}

.buttons{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

button{
    border: 1px solid transparent;
    padding: 9px 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

button:hover{
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(214, 213, 213);
    color: black;
    padding: 0 10px;
    height: 1.45rem;
}

.left a{
    color: black;
    text-decoration: none;
    padding: 0 2px;
}

.right a{
    color: black;
    text-decoration: none;
    padding: 0 3px;
}



/* @media only screen and() */